<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <header class="header">
      <div class="navbar">
        <div class="navbar-1">
          <div class="navbar-1_p1">
            <a href="../index.html" class="header-link">ARTBAZARNEPAL</a>
          </div>
          <div class="navbar-1_p2">
            <div class="navbar-1_p2">
              <ul class="navbar-1_p2_ul">
                <li>
                  <a href="./gallery.html" class="header-link">Images</a>
                </li>
                <li><a href="#" class="header-link">About</a></li>
                <li>
                  <a href="./contacts.html" class="header-link">Contacts</a>
                </li>
                <li>
                  <a href="#" class="header-link">Terms and conditions</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="navbar-2">
          <div class="navbar-2_p1">
            <a href="../index.html"
              ><img src="../img/logo.png" alt="logo" class="navbar-2_p1-logo"
            /></a>
          </div>
          <div class="navbar-2_p2"></div>
          <div class="navbar-2_p3">
            <ul class="navbar-2_p3-ul">
              <li><a href="#" class="header-link">MY account</a></li>
              <li><a href="#" class="header-link"> Cart</a></li>

              <li>
                <img
                  src="../img/cart.png"
                  alt="cart"
                  class="navbar-2_p3-ul-cart"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="artists-page">
      <div class="artists-page-title">Our Teams</div>
      <hr style="width: 98%; margin: auto; color: white;" />
      <div class="artists-page-artists">
        <div class="artists-page-artists-artist artist-1">
          <div class="artist-images-image">
            ><img src="../img/mohan.jpg" alt="mohan" class="artist-images1" />
          </div>
          <div class="artist-description">
            <h2>
              Mohan Tamang
              <br /><br />
            </h2>
            Designer,Manager<br /><br />
            <a href="https://www.facebook.com/profile.php?id=100008489590979"
              ><img src="../img/faceboo.png" alt="facebook"
            /></a>
            <a href="https://www.facebook.com/profile.php?id=100008489590979"
              ><img src="../img/instagra.png" alt="instagram"
            /></a>
            <a href="https://www.facebook.com/profile.php?id=100008489590979"
              ><img src="../img/twitte.png" alt="twitter"
            /></a>
            <div class="artist-sociallinks"></div>
          </div>
        </div>
        <hr style="width: 98%; margin: auto; color: white;" />
        <div class="artists-page-artists-artist artist-1">
          <div class="artist-images-image">
            ><img src="../img/props.jpg" alt="aakash" class="artist-images1" />
          </div>
          <div class="artist-description">
            <h2>
              Aakash Dhakal
              <br /><br />
            </h2>
            Designer,Manager<br /><br />
            <a href="hhttps://www.facebook.com/profile.php?id=100012438193276"
              ><img src="../img/faceboo.png" alt="facebook"
            /></a>
            <a href="#"><img src="../img/instagra.png" alt="instagram" /></a>
            <a href="https://www.facebook.com/profile.php?id=100008489590979"
              ><img src="../img/twitte.png" alt="twitter"
            /></a>
            <div class="artist-sociallinks"></div>
          </div>
        </div>
        <hr style="width: 98%; margin: auto; color: white;" />
        <div class="artists-page-artists-artist artist-1">
          <div class="artist-images-image">
            ><img src="" alt="aakash" class="artist-images1" />
          </div>
          <div class="artist-description">
            <h2>
              Sabal Acharya
              <br /><br />
            </h2>
            Designer,Manager<br /><br />
            <a href="https://www.facebook.com/sabal.38"
              ><img src="../img/faceboo.png" alt="facebook"
            /></a>
            <a href="https://www.facebook.com/sabal.38"
              ><img src="../img/instagra.png" alt="instagram"
            /></a>
            <a href="https://www.facebook.com/profile.php?id=100008489590979"
              ><img src="../img/twitte.png" alt="twitter"
            /></a>
            <div class="artist-sociallinks"></div>
          </div>
        </div>
        <hr style="width: 98%; margin: auto; color: white;" />
        <div class="artists-page-artists-artist artist-1">
          <div class="artist-images-image">
            ><img src="" alt="aakash" class="artist-images1" />
          </div>
          <div class="artist-description">
            <h2>
              Binayak Karki
              <br /><br />
            </h2>
            Designer,Manager<br /><br />
            <a href="https://www.facebook.com/BinayakKarki928"
              ><img src="../img/faceboo.png" alt="facebook"
            /></a>
            <a href="https://www.facebook.com/sabal.38"
              ><img src="../img/instagra.png" alt="instagram"
            /></a>
            <a href="https://www.facebook.com/profile.php?id=100008489590979"
              ><img src="../img/twitte.png" alt="twitter"
            /></a>
            <div class="artist-sociallinks"></div>
          </div>
        </div>
        <hr style="width: 98%; margin: auto; color: white;" />
        <div class="artists-page-artists-artist artist-1"></div>
      </div>
    </div>
  </body>
</html>
