<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <header class="header">
      <div class="navbar">
        <div class="navbar-1">
          <div class="navbar-1_p1">
            <a href="../index.html" class="header-link">ARTBAZARNEPAL</a>
          </div>
          <div class="navbar-1_p2">
            <div class="navbar-1_p2">
              <ul class="navbar-1_p2_ul">
                <li>
                  <a href="./gallery.html" class="header-link">Images</a>
                </li>
                <li><a href="#" class="header-link">About</a></li>
                <li>
                  <a href="./contacts.html" class="header-link">Contacts</a>
                </li>
                <li>
                  <a href="#" class="header-link">Terms and conditions</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="navbar-2">
          <div class="navbar-2_p1">
            <a href="../index.html"
              ><img src="../img/logo.png" alt="logo" class="navbar-2_p1-logo"
            /></a>
          </div>
          <div class="navbar-2_p2"></div>
          <div class="navbar-2_p3">
            <ul class="navbar-2_p3-ul">
              <li><a href="#" class="header-link">MY account</a></li>
              <li><a href="#" class="header-link"> Cart</a></li>

              <li>
                <img
                  src="../img/cart.png"
                  alt="cart"
                  class="navbar-2_p3-ul-cart"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="artists-page">
      <div class="artists-page-title">Our Teams</div>
      <hr style="width: 98%; margin: auto; color: white" />
      <div class="artists-page-artists">
        <div class="artists-page-artists-artist artist-1">
          <div class="artist-images-image">
            <img src="../img/mohan.jpg" alt="mohan" class="artist-images1" />
          </div>
          <div class="artist-description">
            <h2>
              Mohan Tamang
              <br /><br />
            </h2>
            Designer,Manager<br /><br />
            <a href="https://www.facebook.com/profile.php?id=100008489590979"
              ><img src="../img/faceboo.png" alt="facebook"
            /></a>
            <a href="https://www.facebook.com/profile.php?id=100008489590979"
              ><img src="../img/instagra.png" alt="instagram"
            /></a>
            <a href="https://www.facebook.com/profile.php?id=100008489590979"
              ><img src="../img/twitte.png" alt="twitter"
            /></a>
            <div class="artist-sociallinks"></div>
          </div>
        </div>
        <hr style="width: 98%; margin: auto; color: white" />
        <div class="artists-page-artists-artist artist-1">
          <div class="artist-images-image">
            <img src="../img/props.jpg" alt="aakash" class="artist-images1" />
          </div>
          <div class="artist-description">
            <h2>
              Aakash Dhakal
              <br /><br />
            </h2>
            Designer,Manager<br /><br />
            <a href="hhttps://www.facebook.com/profile.php?id=100012438193276"
              ><img src="../img/faceboo.png" alt="facebook"
            /></a>
            <a href="#"><img src="../img/instagra.png" alt="instagram" /></a>
            <a href="https://www.facebook.com/profile.php?id=100008489590979"
              ><img src="../img/twitte.png" alt="twitter"
            /></a>
            <div class="artist-sociallinks"></div>
          </div>
        </div>
        <hr style="width: 98%; margin: auto; color: white" />
        <div class="artists-page-artists-artist artist-1">
          <div class="artist-images-image">
            ><img src="" alt="aakash" class="artist-images1" />
          </div>
          <div class="artist-description">
            <h2>
              Sabal Acharya
              <br /><br />
            </h2>
            Designer,Manager<br /><br />
            <a href="https://www.facebook.com/sabal.38"
              ><img src="../img/faceboo.png" alt="facebook"
            /></a>
            <a href="https://www.facebook.com/sabal.38"
              ><img src="../img/instagra.png" alt="instagram"
            /></a>
            <a href="https://www.facebook.com/profile.php?id=100008489590979"
              ><img src="../img/twitte.png" alt="twitter"
            /></a>
            <div class="artist-sociallinks"></div>
          </div>
        </div>
        <hr style="width: 98%; margin: auto; color: white" />
        <div class="artists-page-artists-artist artist-1">
          <div class="artist-images-image">
            ><img src="" alt="aakash" class="artist-images1" />
          </div>
          <div class="artist-description">
            <h2>
              Binayak Karki
              <br /><br />
            </h2>
            Designer,Manager<br /><br />
            <a href="https://www.facebook.com/BinayakKarki928"
              ><img src="../img/faceboo.png" alt="facebook"
            /></a>
            <a href="https://www.facebook.com/sabal.38"
              ><img src="../img/instagra.png" alt="instagram"
            /></a>
            <a href="https://www.facebook.com/profile.php?id=100008489590979"
              ><img src="../img/twitte.png" alt="twitter"
            /></a>
            <div class="artist-sociallinks"></div>
          </div>
        </div>
        <hr style="width: 98%; margin: auto; color: white" />
        <div class="artists-page-artists-artist artist-1"></div>
      </div>
    </div>

    <div class="footer">
      <div class="footer-logo">
        <div class="footer-logo_1"></div>
        <div class="footer-logo_2">
          <img src="../img/logo.png" alt="logo" class="footer-logo_2_img" />
        </div>
        <div class="footer-logo_3"></div>
      </div>

      <div class="footer-content">
        <div class="footer-content-container">
          <div class="footer-content-container-1">
            <div class="footer-content-container-1_title">Copyright Info</div>
            <div class="footer-content-container-1_elements">
              <b
                >&copy; All the images in the sites used belongs to intellectual
                property of respective artists. Any copy or claim or use of the
                pictures without the consent of original artist is a punishable
                offence according to international intellectual property act.</b
              >
            </div>
          </div>
          <div class="footer-content-container-2">
            <div class="footer-content-container-2_title">Connect</div>
            <div class="footer-content-container-2_button">
              <img src="../img/faceboo.png" alt="facebook" class="social" />
              <img src="../img/instagra.png" alt="instagram" class="social" />
              <img src="../img/twitte.png" alt="twitter" class="social" />
            </div>
          </div>
          <div class="footer-content-container-3">
            <div class="footer-content-container-3_title">
              Sign up for newsletter
            </div>
            <div class="footer-content-container-3_button">
              <div class="footer-content-container-3_button_1">
                <a href="#" class="but-square">Login</a>
              </div>
              <div class="footer-content-container-3_button_2">
                <a href="#" class="but-square">Signup</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
