<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Digital Arts</title>
  </head>

  <body>
    <header class="header">
      <div class="navbar">
        <div class="navbar-1">
          <div class="navbar-1_p1">
            <a href="../index.html" class="header-link">ARTBAZARNEPAL</a>
          </div>
          <div class="navbar-1_p2">
            <div class="navbar-1_p2">
              <ul class="navbar-1_p2_ul">
                <li>
                  <a href="./gallery.html" class="header-link">Images</a>
                </li>
                <li><a href="#" class="header-link">About</a></li>
                <li>
                  <a href="./contacts.html" class="header-link">Contacts</a>
                </li>
                <li>
                  <a href="#" class="header-link">Terms and conditions</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="navbar-2">
          <div class="navbar-2_p1">
            <a href="../index.html"
              ><img src="../img/logo.png" alt="logo" class="navbar-2_p1-logo"
            /></a>
          </div>
          <div class="navbar-2_p2"></div>
          <div class="navbar-2_p3">
            <ul class="navbar-2_p3-ul">
              <li><a href="#" class="header-link">MY account</a></li>
              <li><a href="#" class="header-link"> Cart</a></li>

              <li>
                <img
                  src="../img/cart.png"
                  alt="cart"
                  class="navbar-2_p3-ul-cart"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="break"></div>
    <div class="gallery-page">
      <div class="gallery-page-title">
        Pencil Arts
      </div>

      <div class="gallery-page-images">
        <div class="gallery-page-images-image">
          <a href="#"
            ><img
              src="../img/trends/sharp/girl.png"
              alt=""
              class="gallery-image"
            />
            <div class="gallery-page-images-image-description">
              <u>Paint</u>
            </div></a
          >
        </div>
        <div class="gallery-page-images-image">
          <a href="#"
            ><img
              src="../img/trends/sharp/anime.png"
              alt=""
              class="gallery-image"
            />
            <div class="gallery-page-images-image-description">
              <u>Paint</u>
            </div></a
          >
        </div>
        <div class="gallery-page-images-image">
          <a href="#"
            ><img
              src="../img/trends/sharp/alone.png"
              alt=""
              class="gallery-image"
            />
            <div class="gallery-page-images-image-description">
              <u>Paint</u>
            </div></a
          >
        </div>
        <div class="gallery-page-images-image">
          <a href="#"
            ><img
              src="../img/trends/sharp/chinese.png"
              alt=""
              class="gallery-image"
            />
            <div class="gallery-page-images-image-description">
              <u>Paint</u>
            </div></a
          >
        </div>
      </div>
      <div class="gallery-page-category1"></div>
      <div class="gallery-page-images">
        <div class="gallery-page-images-image">
          <a href="#"
            ><img
              src="../img/trends/sharp/yellowgirl.png"
              alt=""
              class="gallery-image"
            />
            <div class="gallery-page-images-image-description">Venom</div></a
          >
        </div>
        <div class="gallery-page-images-image">
          <a href="#"
            ><img
              src="../img/trends/digital/sketch1.jpg"
              alt=""
              class="gallery-image"
            />
            <div class="gallery-page-images-image-description">Paint</div></a
          >
        </div>
        <div class="gallery-page-images-image">
          <a href="#"
            ><img
              src="../img/trends/digital/sketch2.jpg"
              alt=""
              class="gallery-image"
            />
            <div class="gallery-page-images-image-description">
              <u>Paint</u>
            </div></a
          >
        </div>
        <div class="gallery-page-images-image">
          <a href="#"
            ><img
              src="../img/trends/digital/mohan.jpg"
              alt=""
              class="gallery-image"
            />
            <div class="gallery-page-images-image-description">
              <u>Paint</u>
            </div></a
          >
        </div>
      </div>
      <div class="gallery-page-category1"></div>
      <div class="gallery-page-images">
        <div class="gallery-page-images-image">
          <a href="#"
            ><img
              src="../img/trends/digital/cartoons.jpg"
              alt=""
              class="gallery-image"
            />
            <div class="gallery-page-images-image-description">Paint</div></a
          >
        </div>
        <div class="gallery-page-images-image">
          <a href="#"
            ><img
              src="../img/trends/digital/rocket.png"
              alt=""
              class="gallery-image"
            />
            <div class="gallery-page-images-image-description">Paint</div></a
          >
        </div>
        <div class="gallery-page-images-image">
          <a href="#"
            ><img
              src="../img/trends/digital/mirror.jpg"
              alt=""
              class="gallery-image"
            />
            <div class="gallery-page-images-image-description">Paint</div></a
          >
        </div>
        <div class="gallery-page-images-image">
          <a href="#"
            ><img
              src="../img/trends/digital/sample-girl.jpg"
              alt=""
              class="gallery-image"
            />
            <div class="gallery-page-images-image-description">Paint</div></a
          >
        </div>
      </div>
      <div class="gallery-page-category1"></div>
      <div class="gallery-page-images">
        <div class="gallery-page-images-image">
          <a href="#"
            ><img
              src="../img/trends/digital/pink.jpg"
              alt=""
              class="gallery-image"
            />
            <div class="gallery-page-images-image-description">Paint</div></a
          >
        </div>
        <div class="gallery-page-images-image">
          <a href="#"
            ><img
              src="../img/trends/digital/wicked.png"
              alt=""
              class="gallery-image"
            />
            <div class="gallery-page-images-image-description">Paint</div></a
          >
        </div>
        <div class="gallery-page-images-image">
          <a href="#"
            ><img
              src="../img/trends/digital/snake-girl.jpg"
              alt=""
              class="gallery-image"
            />
            <div class="gallery-page-images-image-description">Paint</div></a
          >
        </div>
        <div class="gallery-page-images-image">
          <a href="#"
            ><img
              src="../img/trends/digital/anime-girl.jpg"
              alt=""
              class="gallery-image"
            />
            <div class="gallery-page-images-image-description">Paint</div></a
          >
        </div>
      </div>
      <div class="gallery-page-category1"></div>
      <div class="gallery-page-images">
        <div class="gallery-page-images-image">
          <a href="#"
            ><img
              src="../img/trends/digital/glass-mohan.jpg"
              alt=""
              class="gallery-image"
            />
            <div class="gallery-page-images-image-description">Paint</div></a
          >
        </div>
        <div class="gallery-page-images-image">
          <a href="#"
            ><img
              src="../img/trends/digital/juice.jpg"
              alt=""
              class="gallery-image"
            />
            <div class="gallery-page-images-image-description">Paint</div></a
          >
        </div>
        <div class="gallery-page-images-image">
          <a href="#"
            ><img
              src="../img/trends/digital/king.jpg"
              alt=""
              class="gallery-image"
            />
            <div class="gallery-page-images-image-description">Paint</div></a
          >
        </div>
        <div class="gallery-page-images-image">
          <a href="#"
            ><img
              src="../img/trends/digital/yellow-girl.jpg"
              alt=""
              class="gallery-image"
            />
            <div class="gallery-page-images-image-description">Paint</div></a
          >
        </div>
      </div>
    </div>
    <div class="image-break"></div>
    <div class="footer">
      <div class="footer-logo">
        <div class="footer-logo_1"></div>
        <div class="footer-logo_2">
          <img src="../img/logo.png" alt="logo" class="footer-logo_2_img" />
        </div>
        <div class="footer-logo_3"></div>
      </div>

      <div class="footer-content">
        <div class="footer-content-container">
          <div class="footer-content-container-1">
            <div class="footer-content-container-1_title">Copyright Info</div>
            <div class="footer-content-container-1_elements">
              <b
                >&copy; All the images in the sites used belongs to intellectual
                property of respective artists. Any copy or claim or use of the
                pictures without the consent of original artist is a punishable
                offence according to international intellectual property act.</b
              >
            </div>
          </div>
          <div class="footer-content-container-2">
            <div class="footer-content-container-2_title">Connect</div>
            <div class="footer-content-container-2_button">
              <img src="../img/faceboo.png" alt="facebook" class="social" />
              <img src="../img/instagra.png" alt="instagram" class="social" />
              <img src="../img/twitte.png" alt="twitter" class="social" />
            </div>
          </div>
          <div class="footer-content-container-3">
            <div class="footer-content-container-3_title">
              Sign up for newsletter
            </div>
            <div class="footer-content-container-3_button">
              <div class="footer-content-container-3_button_1">
                <a href="#" class="but-square">Login</a>
              </div>
              <div class="footer-content-container-3_button_2">
                <a href="#" class="but-square">Signup</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../js/index.js"></script>
</html>
